<!-- Start Footer Section -->
    <footer class="cs_footer cs_style_1">
  <div class="cs_height_140 cs_height_lg_80"></div>
  <div class="container">
    <div class="cs_footer_main">
      <div class="row cs_gap_y_40">

        <!-- Brand -->
        <div class="col-xl-5 col-lg-4 col-md-7">
          <div class="cs_footer_widget cs_text_widget">
            <div class="cs_brand cs_mb_10">
              <h3 style="font-weight:700; color:#0f172a;">
                Super<span style="color:#1e40af;">Graphic</span>
              </h3>
            </div>
            <p class="mb-0">
              Super Graphic is a creative design platform that helps teams
              and individuals create stunning visuals faster and collaborate
              seamlessly.
            </p>
          </div>
        </div>

        <!-- Quick Links -->
        <div class="col-xl-2 col-lg-2 col-md-4 offset-lg-0 offset-md-1">
          <div class="cs_footer_widget cs_links_widget">
            <h3 class="cs_footer_widget_title cs_fs_21 cs_normal cs_mb_21">
              Quick Links
            </h3>
            <ul class="cs_footer_medu cs_mp_0">
              <li><a href="index.html">Home</a></li>
              <li><a href="features.html">Features</a></li>
              <li><a href="pricing.html">Plans</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>

        <!-- Help -->
        <div class="col-xl-2 col-lg-3 col-md-7">
          <div class="cs_footer_widget cs_help_widget">
            <h3 class="cs_footer_widget_title cs_fs_21 cs_normal cs_mb_21">
              Help
            </h3>
            <ul class="cs_footer_medu cs_mp_0">
              <li><a href="contact.html">Contact Support</a></li>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="term-condition.html">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>

        <!-- Contact -->
        <div class="col-xl-3 col-lg-3 col-md-4 offset-md-1 offset-lg-0">
          <div class="cs_footer_widget cs_contact_widget">
            <h3 class="cs_footer_widget_title cs_fs_21 cs_normal cs_mb_21">
              Contact
            </h3>
            <ul class="cs_footer_medu cs_mp_0">
              <li>Support: Mon–Fri, 9am–6pm</li>
              <li>
                <a href="mailto:support@supergraphic.com">
                  support@supergraphic.com
                </a>
              </li>
              <li>
                <a href="tel:+911234567890">
                  +91 12345 67890
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="cs_height_62 cs_height_lg_60"></div>

    <!-- Bottom -->
    <div class="cs_footer_bottom cs_gray_bg_2 cs_radius_50">
      <div class="cs_footer_text cs_heading_color">
        © <span class="cs_getting_year"></span> Super Graphic. All rights reserved.
      </div>
      <div class="cs_social_links cs_style_1 cs_heading_color">
        <a href="#" aria-label="Facebook">
          <span><i class="fa-brands fa-facebook"></i></span>
        </a>
        <a href="#" aria-label="Instagram">
          <span><i class="fa-brands fa-instagram"></i></span>
        </a>
        <a href="#" aria-label="YouTube">
          <span><i class="fa-brands fa-youtube"></i></span>
        </a>
      </div>
    </div>

  </div>
</footer>

    <!-- End Footer Section -->