<!-- Start Header Section -->
    <header class="sg-header">
  <div class="sg-container">

    <!-- Brand -->
    <div class="sg-logo">
      <a href="index.html">Super<span>Graphic</span></a>
    </div>

    <!-- Navigation -->
    <nav class="sg-nav">
      <ul>
        <li><a href="#">Design</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="pricing.html">Plans</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Education</a></li>
       <li><a href="contact.html">Help</a></li>
      </ul>
    </nav>

    <!-- Actions -->
    <div class="sg-actions">
      <a href="login.html" class="sg-login">Log in</a>
      <a href="#" class="sg-signup">Sign up</a>
    </div>

  </div>
</header>

    <!-- End Header Section -->
     