<header class="cs_site_header cs_style_1 cs_sticky_header">
  <div class="cs_main_header">
    <div class="container">
      <div class="cs_main_header_in">

        <!-- Logo -->
        <div class="cs_main_header_left">
          <a class="cs_site_branding" href="index.html">
            <img src="assets/img/logo.svg" alt="Super Graphic Logo">
          </a>
        </div>

        <!-- Navigation -->
        <div class="cs_main_header_center">
          <nav class="cs_nav">
            <ul class="cs_nav_list">
              <li><a href="index.html" class="cs_nav_link">Home</a></li>
              <li><a href="features.html" class="cs_nav_link">Features</a></li>
              <li><a href="templates.html" class="cs_nav_link">Templates</a></li>
              <li><a href="pricing.html" class="cs_nav_link">Pricing</a></li>
              <li><a href="about-us.html" class="cs_nav_link">About</a></li>
            </ul>
          </nav>
        </div>

        <!-- Actions -->
        <div class="cs_main_header_right">
          <div class="cs_btn_group">
            <a href="login.html" class="cs_btn cs_style_1 cs_outline cs_heading_color">
              Login
            </a>
            <a href="register.html" class="cs_btn cs_style_1 cs_purple_bg cs_white_color">
              Get Started Free
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
